.button-content div {

  text-align: left;
}

/* @keyframes flicker {
  from {
    box-shadow: 0 0 20px 15px #adddad;
    background-color: rgba(173, 221, 173, 0.9);
  }

  to {
    box-shadow: 0 0 20px 5px #000000;
    background-color: #000;
  }
} */

.button-content div h3 {
  text-align: center;
}

.button-content div p,
.button-content div span {
  color: #fff;
}
.typewrite {
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  max-width: min-content;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 3.5s infinite steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}



/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #ADDDBA
  }
}

#guidelines {
  font-size: 20px;
  color: #adddad;
  transition: all ease;
  border-radius: 10px;
  animation-name: flicker;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}